body {
  background: #eee;
  padding: 40px;
  font-family: 'Libre Barcode 39 Text', cursive;
}

h1{
    font-style: normal;
    padding:20px;
    font-family: 'Libre Barcode 128 Text', cursive;
}

div {
  padding: 10px;
}
