.container {
/*   border: 1px solid black; */
  margin: auto;
  width: 600px;
  display: grid;
  grid-template-columns: 19% 19% 19% 19% 19%;
  grid-gap: 1%;
}

img{
  width: 100%;
}

.item {
/*   border: 1px solid blue; */
  width: 100%;
/*   margin: 10px; */
}
