body {
  font-family: "Open Sans Condensed", sans-serif;
  background: white;
  margin: auto;
  padding: 70px;
  color: #37474f;
  text-align: left;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  font-weight: 100i;
  text-transform: uppercase;
  color: black;
  padding-top: 0px;
  padding-right: 30px;
  padding-bottom: 0px;
  padding-left: 30px;
  text-align: left;
}

div.column{
  margin-left:10px; 
  margin-right: 10px;
  width: 29%;
  float: left;
  /*clear: both;*/ 
}

img{
  width: 100%;
}

#middle{
  color: #db99db;
}
